.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  /* font-family: 'Comfortaa', sans-serif; */
  /* font-family: 'Gloria Hallelujah', cursive; */
  font-family: "Patrick Hand", cursive;
}
.header > h1 {
  margin-bottom: 0;
  font-size: 48px;
}

.header,
.footer {
  flex-grow: 0;
  flex-shrink: 0;
}
.input-area {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin: 3% 0;
  width: 90vw;
}

.edit-todo {
  display: flex;
  align-items: center;
  width: 100%;
}
.edit-todo-form > p {
  margin: 0;
}

.edit-todo-form, .done-task-and-buttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.edit-input {
  border-radius: 3px;
  padding: 2px 0;
  width: 60%;
  font-family: "Patrick Hand", cursive;
  font-size: 15pt;
}

.input-area > form {
  margin: 0;
}

.input-field {
  width: 17rem;
  border-radius: 5px;
  border: 0.5px solid black;
  padding: 10px;
  font-size: large;
  flex-grow: 1;
}

.task-container {
  display: flex;
  flex-direction: column;
  /* background-color: blanchedalmond; */
  gap: 10px;
  width: 90vw;
}

.task-section-title {
  text-align: center;
  margin: 2%;
  margin-top: 0;
  justify-self: flex-start;
}
.todo-item {
  background-color: #3de1b2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
  width: 80%;
  margin: auto;
  border-radius: 8px;
  padding: 0 5px;
  border: 1px solid black;
  font-size: 20pt;
  overflow: hidden;
}

.todo-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px black;
}

.todo-item-done {
  display: flex;
  align-items: center;
  width: 100%;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-item-buttons {
  display: flex;
  gap: 5px;
}

.todo-button {
background-color: white;
border: 0.3px solid black;
border-radius: 3px;
padding-top: 2px;
}

.todo-area {
  background-color: brown;
}

.todo-container {
  display: flex;
  flex-direction: column;
  padding: 2%;
  border-radius: 5px;
  border: 2px solid black;
  max-height: 15rem;
  overflow-y: scroll ;
}

.done {
  /* background-color: #fcbd81; */
  background-color: #ccccff;
}
.undone {
  background-color: #ffff8f;
}

.task,
.task-done {
  margin: 12px;
}

.button {
  height: 20px;
}

.footer {
  display: flex;
  margin: 10px;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
}

.main-area {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.name-and-icon {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.name-and-icon > p {
  margin: 0;
}

.contact-icon {
  max-height: 35px;
  max-width: 35px;
}

.checkbox-container {
  display: flex;
  /* flex-grow: 0; */
}


/* Media Queries */
@media (min-width: 768px) {
  .task-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .todo-container {
    width: 45%;
    max-height: 25rem;
  }

  .input-field{
    width: 25rem;
    flex-grow: 0;
  }
}
