.app {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input-area {
  display: flex;
  justify-content: space-around;
  margin-top: 8%;
  width: 90vw;
}

.input-field {
  width: 70%;
  border-radius: 5px;
  border: 0.5px solid black;
}

.task-container {
  display: flex;
  flex-direction: column;
  /* background-color: blanchedalmond; */
  gap: 10px;
  width: 90vw;
  margin: 8%;
}

.checkbox-and-task {
  display: flex;
}

.task-section-title {
  text-align: center;
  margin: 2%;
  margin-top: 0;
  justify-self: flex-start;
}
.todo-item {
  background-color: #1b1725;
  background-color: #3de1b2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  width: 80%;
  margin: auto;
  border-radius: 8px;
  padding: 0 5px;
  border: 1px solid black;
  /* color: white; */
}

.todo-item:hover {
  transform: scale(1.05);
  box-shadow: 0 0 5px black;
}

.todo-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.todo-item-buttons {
  display: flex;
  gap: 5px;
}

.todo-area {
  background-color: brown;
}

.todo-container {
  display: flex;
  flex-direction: column;
  padding: 2%;
  border-radius: 5px;
  border: 2px solid black;
}

.done {
  /* background-color: #fcbd81; */
  background-color: #ccccff;
}
.undone {
  background-color: #ffff8f;
}

.task {
  margin: 12px;
}

.button {
  height: 20px;
}

.footer {
  display: flex;
  width: 100vw;
  align-items: center;
  justify-content: space-evenly;
}

.name-and-icon {
  display: flex;
  width: 45%;
  align-items: center;
  justify-content: space-evenly;
}

.name-and-icon > p {
  margin: 0;
}

.contact-icon {
  max-height: 35px;
  max-width: 35px;
}

/* Media Queries */
@media (min-width: 576px) {
  .task-container {
    flex-direction: row;
    justify-content: space-between;
  }
  .todo-container {
    width: 45%;
  }
}
