.todo-item{
  display: flex;
  align-items: center;
  gap: 10px
}

.todo-item-buttons{
  display: flex;
  gap: 5px;
}

.todo-area{
  background-color: brown;
}

.todo-container-undone{
  background-color: greenyellow;
}

.todo-container-done{
  background-color: blueviolet;
}